<div class="section">
    <div class="container">
        <h2>{{'edit_note_title' | translate}}</h2>
        <div class="section row">
            <textarea div class="form-control col-xs-12" id="editNote" data-ng-model="notes.formdata.noteTitle">
            </textarea>
        </div>
        <div class="row">
            <button  class="btn btn-primary" data-ng-click="notes.submitNoteChange(notes.stateParams.id, notes.formdata.noteTitle)">{{'submit_note_edit' | translate}}</button>
            <button class="btn btn-secondary"data-ng-click="notes.goBack()">{{'go_back' | translate}}</button>
        </div>
    </div>
</div>