@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

#gmn-header{
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

.section {
    margin-top: 10px;
    margin-bottom: 10px;
}